{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block app_content %}
<h2><strong>Welcome to Smart Locker</strong></h2>
<br />
<div class="form-signin" style="display: inline-flex;">
  <a href="{{ url_for('request.pickup') }}" type="button" class="btn btn-primary btn-sq-responsive">
    <img src="static/icons/delivery-box.png" class="img-sq-btn" /><br />
    <span class="">Lấy Hàng</span>
  </a>
  <a href="{{ url_for('request.delivery') }}" type="button" class="btn btn-primary btn-sq-responsive">
    <img src="static/icons/package.png" class="img-sq-btn" /><br />
    <span class="">Gửi Hàng</span>
  </a>
</div>
{% endblock %}